
body {
  font-family: Arial, sans-serif;
  color: #6d6d78;
}
.top-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
}
.column {
  flex: 0 0 auto; /* Make the column only as wide as its content */
}
.right-most {
  margin-left: auto;
}
.top-bar {
  background-color: #a2ab8c;  /* SEKA 海沫绿 */
  color: #c60c30;  /* Deep red color */
  padding: 10px;
  text-align: center;
  border-bottom: 4px solid #fff; /* White border at the bottom */
  font-family: 'Noto Sans', 'Heiti', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.top-bar a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none; /* Optional: to remove underline */
}
.dev-link {
  background-color: hsl(49, 100%, 54%);  /* SEKA 海沫绿 */
  color: hsl(221, 100%, 50%);  /* Deep red color */
  font-size: 15px;
  font-weight: bold;
}
.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Adjust minmax value as needed */
  gap: 10px; /* Space between grid items */
  margin: 0 10px;
}
.event {
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  padding-left: 55px;
  box-sizing: border-box;
}
.event.selected-event {
  border: 2px solid #a2ab8c;
}
.event-section {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of events */
  margin: 0 10px;
}
.event-title {
  font-size: 1.2em;
  font-weight: bold;
}
.event-details {
  display: flex;
  flex-direction: column;
}
.event-description {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.date-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  min-width: 60px;
  border: 1px solid #dfdfe8;
  display: inline-block;
  text-align: center;
}
.date-box .date {
  margin-top: 8px;
  color: #fc5200;
  font-size: 24px;
  line-height: 20px;
}
.date-box .date-relative {
  margin-top: 4px;
  color: #fc5200;
  font-size: 18px;
  line-height: 18px;
}
.area-box {
}
.event-section:first-child {
  flex: 0 0 300px; /* Fixed width for the first column */
}
.event-section:nth-child(2) {
  flex: 0 0 350px; /* Fixed width for the second column */
  max-width: 350px; /* Restrict maximum width */
}
.event-section:nth-child(3) {
  display: flex;
  clear: both; /* Ensures it does not overlap with floated elements */
}
.meet-up {
  color: #6d6d78;
}
.popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 90%;
  max-width: 600px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px 20px 5px 20px;
  z-index: 1000;
  max-height: 99vh; /* Set maximum height to the viewport height */
  overflow-y: auto;
  box-sizing: border-box;
}
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup .date-box {
  position: relative;
  padding: 0px;
  margin-left: -20px;
  margin-bottom: 0px;
  min-width: 45px;
  display: inline-block;
  text-align: center;
}
.popup .date-box .date {
  margin-top: 0px;
  color: #fc5200;
  font-size: 20px;
  line-height: 20px;
}
.event-title-row {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}
.event-title-row .event-title {
  margin: 0 0 0 0px;
}
.close-btn {
  float: right;
  cursor: pointer;
}
.page-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.custom-div-icon .tooltip-content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  transition: background-color 0.3s ease;
}
.custom-div-icon:hover .tooltip-content {
  background-color: rgba(255, 255, 255, 1);
}
@media only screen and (min-width: 1000px) {
  .page-container {
      flex-direction: row; /* Change to row direction for larger screens */
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: hidden;/*let list-container scroll*/
      height: calc(100vh - 76px);  /* kill scroll bar on larger screen*/
  }
  .list-container {
      width: 50%; /* Takes up half the width of the container */
      overflow-y: auto; /* Allows scrolling if content overflows */
  }
  .map-container {
      width: 50%; /* Takes up half the width of the container */
  }
  .toggle-button-container {
      display: none;
  }
}
@media only screen and (max-width: 999px) {
  .page-container {
      flex-direction: column;
      box-sizing: border-box;
      height: 100vh;
  }
  .list-container {
      width: 100%;
      order: 2;
      max-height: 100%; /* Prevents the container from exceeding the height of the page-container */
      box-sizing: border-box;
      /* display: block; */
  }
  .map-container {
      flex-grow: 1;
      order: 1;
      margin: 8px 0px;
      min-height: 70vh;
      max-height: 85vh;
      height: 80%;
      /* display: none; */
  }
  .toggle-button-container {
      display: none;
  }
}