.top-bar-container {
  height: 60px;
}
.page-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media only screen and (min-width: 1000px) {
  .page-container {
      flex-direction: row; /* Change to row direction for larger screens */
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: hidden;/*let list-container scroll*/
      height: calc(100vh - 76px); /* kill scroll bar on larger screen*/
  }
  .list-container {
      width: 50%; /* Takes up half the width of the container */
      overflow-y: auto; /* Allows scrolling if content overflows */
  }
  .map-container {
      width: 50%; /* Takes up half the width of the container */
  }
}
@media only screen and (max-width: 999px) {
  .page-container {
      flex-direction: column;
      max-height: 100vh; /* Prevents the container from exceeding the viewport height */
      box-sizing: border-box;
  }
  .list-container {
      width: 100%;
      order: 2;
      height: 50vh; /* Set a fixed height for smaller screens */
      max-height: 100%; /* Prevents the container from exceeding the height of the page-container */
      box-sizing: border-box;
  }
  .map-container {
      height: 600px;
      width: 100%;
      order: 1;
      margin: 8px 0px;
      /* box-sizing: border-box; */
  }
}